body,
html {
 position: absolute;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 background: rgb(155, 172, 199);
 touch-action: none;
}

svg {
 position: absolute;
 width: 100%;
 height: 100%;
 background: #000000;
 cursor:cell;
 filter: sepia(20%);
}


